##### Sets are unique collection of data but there is no particular order of data

In [1]:
a = {"apple", "banana", "abc" }     #Just keys not the values
a

{'abc', 'apple', 'banana'}

In [2]:
type(a)

set

In [9]:
dict = {"abc": 3, "str" : "Helllo"}    # Has key and value
type(dict)

dict

In [8]:
a = (1,2,3)
type(a)

tuple

In [10]:
a = [1,2,3,4]
type(a)

list

In [11]:
a = {"apple", "banana", "abc" }     #Just keys not the values
a

{'abc', 'apple', 'banana'}

In [12]:
type(a)

set

In [16]:
a

{'abc', 'apple', 'banana'}

In [20]:
'abc' in a    # To check your set contains a value or not

True

In [21]:
21 in a

False

In [22]:
for v in a:
    print(v)

abc
apple
banana

In [23]:
len(a)

3

In [24]:
a.add("temp")

In [25]:
a

{'abc', 'apple', 'banana', 'temp'}

In [26]:
b = {"abc", 'Hello'}

In [27]:
a.update(b)

In [28]:
a

{'Hello', 'abc', 'apple', 'banana', 'temp'}

In [29]:
num = {1,3,2,4,5,4,2}

In [30]:
num

{1, 2, 3, 4, 5}

In [31]:
a.remove('temp')

In [32]:
a

{'Hello', 'abc', 'apple', 'banana'}

In [33]:
a.remove('Hell')

KeyError: 'Hell'

In [34]:
a

{'Hello', 'abc', 'apple', 'banana'}

In [35]:
a.discard(23)

In [36]:
print(a.discard(23))

None

In [38]:
a.pop()

'abc'

In [39]:
a

{'Hello', 'apple', 'banana'}

In [40]:
a.pop()

'banana'

In [41]:
del a

In [42]:
a

NameError: name 'a' is not defined