### Lists

Lists can store multiple elements of different types at same time. It also maintains the order of elements.

#### Create a List

In [2]:
li = []

In [3]:
li = [1,2,3]

In [4]:
type(li)

list

In [7]:
li = [1,2,]
print(li)

[1, 2]

In [8]:
li = [1, 2, "Fazeel", 3]

In [9]:
li[0]

1

In [10]:
li[1]

2

In [12]:
li[2]

'Fazeel'

In [13]:
li[3]

3

In [14]:
li[3] = "Usmani"

In [15]:
li

[1, 2, 'Fazeel', 'Usmani']

In [16]:
li[4] = 9

IndexError: list assignment index out of range

#### Slicing of a list

In [18]:
li [1:3]  # 1 index to 2nd index

[2, 'Fazeel']

In [19]:
li

[1, 2, 'Fazeel', 'Usmani']

In [21]:
li[1:]   # index 1 to last

[2, 'Fazeel', 'Usmani']

In [23]:
li[:]    # whole list elements are printed

[1, 2, 'Fazeel', 'Usmani']

In [24]:
li[1:10]   # THis prints till 10 but 4 to indexes are empty

[2, 'Fazeel', 'Usmani']

In [26]:
li.append("Hasan")

In [27]:
li

[1, 2, 'Fazeel', 'Usmani', 'Hasan']

In [29]:
li.insert(1, 7)

In [30]:
li

[1, 7, 2, 'Fazeel', 'Usmani', 'Hasan']

In [31]:
li.insert(6, 10)

In [32]:
li

[1, 7, 2, 'Fazeel', 'Usmani', 'Hasan', 10]

In [35]:
li.insert(9, "Woohoo")  # If the index is not in the range then it will add up to the last index

In [34]:
li

[1, 7, 2, 'Fazeel', 'Usmani', 'Hasan', 10, 'Woohoo']

In [36]:
li.insert(0, "start")

In [37]:
li

['start', 1, 7, 2, 'Fazeel', 'Usmani', 'Hasan', 10, 'Woohoo', 'Woohoo']

In [41]:
li.append([9, 10, 11])  # add elemnts in a list within a list

In [42]:
li

['start',
 1,
 7,
 2,
 'Fazeel',
 'Usmani',
 'Hasan',
 10,
 'Woohoo',
 'Woohoo',
 (9, 10, 11),
 [9, 10, 11],
 [9, 10, 11]]

In [43]:
li.extend([9,10,11])    # to add elements seperately

In [44]:
li

['start',
 1,
 7,
 2,
 'Fazeel',
 'Usmani',
 'Hasan',
 10,
 'Woohoo',
 'Woohoo',
 (9, 10, 11),
 [9, 10, 11],
 [9, 10, 11],
 9,
 10,
 11]

#### Removing elements from list

In [45]:
li.remove([9,10,11])  #[9,10,11] which is present first is removed

In [46]:
li

['start',
 1,
 7,
 2,
 'Fazeel',
 'Usmani',
 'Hasan',
 10,
 'Woohoo',
 'Woohoo',
 (9, 10, 11),
 [9, 10, 11],
 9,
 10,
 11]

In [47]:
li.remove([9,10,11])

In [48]:
li

['start',
 1,
 7,
 2,
 'Fazeel',
 'Usmani',
 'Hasan',
 10,
 'Woohoo',
 'Woohoo',
 (9, 10, 11),
 9,
 10,
 11]

In [50]:
li.pop()   # automatically deletes an element from last and returns the number which is removed

10

In [51]:
li

['start',
 1,
 7,
 2,
 'Fazeel',
 'Usmani',
 'Hasan',
 10,
 'Woohoo',
 'Woohoo',
 (9, 10, 11),
 9]

In [52]:
li.pop(0)

'start'

In [53]:
li

[1, 7, 2, 'Fazeel', 'Usmani', 'Hasan', 10, 'Woohoo', 'Woohoo', (9, 10, 11), 9]

In [54]:
li.pop(2)

2

In [55]:
li

[1, 7, 'Fazeel', 'Usmani', 'Hasan', 10, 'Woohoo', 'Woohoo', (9, 10, 11), 9]

In [56]:
li.pop(12)     #index out of bounds

IndexError: pop index out of range

In [58]:
# predict the output
li =['abcd','def']
li.insert(4,5)
print(li)

['abcd', 'def', 5]

In [60]:
# predict the output
li = ['abcd',5,'def',5]
li.remove(5)
print(li)

['abcd', 'def', 5]

In [61]:
# predict the output
li = [5,2,6,8]
li.pop(2)
print(li)

[5, 2, 8]